version: "3.9"

services:
  backend:
    build: .
    image: si_konsinyasi_server
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: npm start